body {
 font-family: "Poppins", sans-serif;
 
}

*, *::before, *::after {
 margin: 0;
 padding: 0;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}


::-webkit-scrollbar {
    
    height: 4px; /
}




::-webkit-scrollbar-track {
    
    background: #fff; 
}


::-webkit-scrollbar-thumb {
    opacity: 0;
    /* visibility: hidden; */
    background: #ddd; 
    border-radius: 10px; 
}



/* Handle on hover */
::-webkit-scrollbar-thumb {
    background: #ddd; 
   
}

img, ion-icon, button, a {
    display: block;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}