#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main_background {
  background-color: purple;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.action-btn {
  background-color: black;
  padding-right: 25px;
  padding-left: 0px;
  /* border: 1px solid blue; */

}

.action-btn:hover {
  border: 0px solid black;
  font-size: 30px;
}

.count {
  padding-top: -20px;
  color: white;
  font-size: 15px;
  position: absolute;
  margin-top: -10px;
  background-color: red;
  border-radius: 200px;
  padding: 1px;
  width: 20px;
  margin-left: -5px;
}